<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Call</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <header class="mainHeader">
        <nav class="mainNav">
            <ul class="mainList">
                <li class="items"><a href="/shop">Shop</a></li>
                <li class="items"><a href="/admin/addProduct">Add Product</a></li>
                <li class="items"><a href="/admin/contact" class="selected">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="call">
        <h1>Book a Call</h1>
        <p>Please enter the following details to get a Call from us</p>
        <form action="/admin/success" id="my-form" onsubmit="display()">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="John"><br><br>
            <label for="mail">Email</label>
            <input type="email" id="mail" placeholder="example@gmail.com"><br><br>
            <input type="submit" value="Get Call">
        </form>
    </div>
    <script src="call.js"></script>
</body>

</html>